/*ПІДКЛЮЧЕННЯ ШРИФТІВ &display=swap*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap');
/*ПЕРЕМІННІ*/
$max_width: 1639px;

/*ОБНУЛЕННЯ*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
   background: #1C1E22;
   color: #FFFFFF;
   overflow-x: hidden;
}
[class*="__container"]{
   max-width: $max_width+20;
   margin: 0 auto;
   padding: 0 15px;
}  
.header{
   &__container{
      padding-top: 50px;
      padding-bottom: 50px;
   }
   &__menu{
      display: flex;
      justify-content: space-between;
   }
   &__links{
      display: flex;
      gap: 65px;
   }
   &__link{
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
   }
   &__socials{
      position: relative;
      display: flex;
      gap: 30px;
      &::after{
         content: "";
         position: absolute;
         top: 60px;
         right: 0;
         width: 730px;
         height: 730px;
         pointer-events: none;
         background: conic-gradient(from 180deg at 50% 50%, #00FFE0 0deg, #7000FF 360deg);
         filter: blur(700px);
      }
   }
}
.main{

}
.hi{
   &__container{
      margin-top: 120px;
      display: flex; 
   }
   &__text{
      margin-top: 80px;
   }
   &__title{
      color: #0EE6B7;
      font-weight: 400;
      font-size: 64px;
      line-height: 96px;
   }
   &__subTitle{
      font-weight: 700;
      font-size: 64px;
      line-height: 96px;
      span{
         color: transparent;
         font-size: 72px;
         line-height: 108px;
         -webkit-text-stroke: 2px #0EE6B7;
         &::after{
            content: ".";
            position: absolute;
            z-index: 1;
         }
      }
   }
   &__program{
      position: relative;
      .circle{
         &::before{
            content: "";
            position: absolute;
            top: 11px;
            left: 24px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #FF5F56;    
        }
        &::after{
         content: "";
         position: absolute;
         top: 11px;
         left: 40px;
         width: 8px;
         height: 8px;
         border-radius: 50%;
         background: #FFBD2E; 
        }
      }
      .circle2{
         &::before{
            content: "";
            position: absolute;
            top: 11px;
            left: 56px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #27C93F;    
        } 
      }
      width: 862px;
      height: 500px;
      background: #171A1B;
      opacity: 0.8;
      border: 1px solid #4A4A4A;
      border-radius: 15px 15px 0px 0px;
      &__adress{
         margin-top: 15px;
         text-align: center;
         span{
            padding: 2px 120px;
            background: #202226;
            opacity: 0.9;
            border-radius: 5px;

            line-height: 18px;
         }
      }
      &__codes{
         margin-top: 100px;
         margin-left: 100px;

         display: flex;
         flex-direction: column;
         gap: 25px;
       }
      &__green{
         color: rgba(14, 230, 183, 1);
         margin-left: 25px;
      }
      &__violet{
         color: rgba(112, 0, 255, 1);
      }
   }
}
.projects{
   position: relative;
   &::after{
      content: "";
      position: absolute;
      top: 300px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 75%;
      height: 430px;
      pointer-events: none;
      background: conic-gradient(from 180deg at 50% 50%, #00FFE0 0deg, #7000FF 360deg);
      filter: blur(1500px);
      z-index: -1;
   }
   &__container{
      margin-top: 270px;
   }
   &__title{
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
   }
   &__works{
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      gap: 100px;
   }
   &__work:nth-child(even){
      flex-direction: row-reverse;
      &__seeProjects{
         display: grid;
      }
   }
   &__work{
      display: flex;
      gap: 100px;
      align-items: center;
      &__title{
         font-weight: 700;
         font-size: 36px;
         line-height: 54px;
      }
      &__subTitle{
         margin-top: 17px;
         font-size: 18px;
      }
      &__seeProjects{
         display: flex;
         margin-top: 65px;
         font-weight: 500;
         font-size: 24px;
         line-height: 36px;
         color: #0EE6B7;
         span{
            margin-left: 30px;
            margin-top: 5px;
         }
      }
   }
}